@import 'normalize.css/normalize.css';
@import 'github-markdown-css';

@media screen and (min-width: 850px) {
  // 滚动条样式
  ::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    background-color: #888888;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #888888;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f2f6fc;
  }
}

// transition
.page-enter-active,
.page-leave-active {
  transition: all .4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

// markdown
.markdown-body {
  color: #1f2328 !important;
  background-color: #fff !important;
}

.markdown-body blockquote {
  color: #656d76 !important;
  border-color: #d0d7de !important;
}

.markdown-body pre {
  padding: 0 !important;
}

code.hljs {
  background: #23241f !important;
  padding: 1em !important;
  display: block !important;
}
